body.signup-view {
    background-image: url('../../asset/Group\ 22.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Add any other styles you want */
  }