body.login-view {
    background-image: url('../../asset/background.svg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Add any other styles you want */
  }

  
  
  
  